{% extends 'base/base.html' %}
{% load static %}

{#      AQUI COLOCO MIS CSS        #}
{% block extrastyles %}
{% endblock %}



{#      AQUI COLOCO MIS CSS        #}
{% block body %}

  <div class="row">
    <div class="col-12">

      <div class="row">
        <div class="col-12">
          <div class="card text-white bg-primary">
            <div class="card-body">
              <div class="card-title"> VIDEO JUEGOS - READ</div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="card text-white bg-white">
            <div class="row">

              {% for juego in lista %}

              <div class="col-3">
                <div class="card" style="width: 100%;">
                  <img src="{% static '/img/generic/1.jpg' %}" class="card-img-top" alt="...">

                  <div class="card-title m-2">Nombre: {{ juego.nombre }}</div>
                  <div class="card-body"> Tipo: {{ juego.tipo.nombre }}</div>
                  <div class="row">
                    <div class="col-8">
                      <a class="btn btn-primary" type="button" href="{% url 'edit_vj' juego.pk %}">editar</a>
                    </div>
                    <div class="col-4">
                      <a class="btn btn-outline-danger" type="button" href="{% url 'eliminar_vj_logico' juego.pk %}"> <i class="fa fa-trash"></i></a>
                      <a class="btn btn-danger" type="button" href="{% url 'eliminar_vj_fisico' juego.pk %}"> <i class="fa fa-bomb"></i></a>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}

          </div>


        </div>
      </div>

    </div>
  </div>
{% endblock %}


{#      AQUI COLOCO MIS JQUERY        #}
{% block extrajs %}
  <script>
  console.log("hola");
  </script>

{% endblock %}
