
{% extends 'base/base.html' %}

{#      AQUI COLOCO MIS CSS        #}
{% block extrastyles %}
      <style>
      p {
          background-color: #4f131e;
      }
      </style>
{% endblock %}



{#      AQUI COLOCO MIS CSS        #}
{% block body %}
      <p>Hola Soy Contacto</p>
<br>
<p>Iniciaste sesión como {{ user }}</p>
<a href="{% url 'home' %}"> Ir a Home</a>
{% endblock %}




{#      AQUI COLOCO MIS JQUERY        #}
{% block extrajs %}
<script>
    console.log('{{ user.username }}')
</script>
{% endblock %}